/* Eliminar flechas (spinners) de los input[type=number] en todos los navegadores */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield; /* Firefox */
}

/* Estilo general para los inputs numéricos */
input[type=number] {
  text-align: right;
  border: none;
  background: transparent;
  width: 100px;
  font-size: 15px;
  padding-right: 8px;
  outline: none;
}
body {
  margin: 0;
  font-family: 'Tektur', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
